{% block content %}
<div class="container">
    {% if active_tab == 'received' %}
        <h2>Applicants</h2>
    {% else %}
        <h2>Selected Employees</h2>
    {% endif %}
    {% if not seekers and active_tab == 'received' %}
        <p>No Applicants yet. </p>
        <p>You can search for open employees and can select them based on their profile satisfaction. </p>
    {% elif not seekers and active_tab == 'sent' %}
        <p>You haven't selected any employees till now.</p>
    {% endif %}
    <div class="seeker-cards">
        {% for seeker in seekers %}
            <div class="card mb-4 custom-card">
                <div class="card-body">
                    <div class="seeker-profile">
                        <div class="profile-picture">
                            {% if seeker.profile_picture %}
                                <img src="{{ seeker.profile_picture.url }}" alt="Seeker Profile">
                            {% else %}
                                <img src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg" alt="Default Profile Picture" >
                            {% endif %}
                        </div>
                    </div>
                    <div class="seeker-details">
                        <h5 class="card-title"><strong>Name: </strong>{{ seeker.name }}</h5>
                        <p class="card-text"><strong>Job Post:</strong> {{ seeker.job_post }}</p>
                        <form action="{% url 'details' %}?from_search=true" method="post" class="mt-2">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ seeker.id }}">
                            <button type="submit" class="btn btn-primary">View details</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<style>
    .container {
    width: 80%;
    padding: 20px;
    background-color: #c4e3fc;
    border: 2px solid #2196f3;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(12, 12, 12, 0.1);
}

h2 {
    color: #3d8aff;
    font-weight: 500;
    font-size: xx-large;
    text-align: left;
    margin-bottom: 20px;
}

.seeker-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
}

.custom-card {
    background-color: #f4f9ff;
    border: 1px solid #279dfd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; 
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 20px;
}

.seeker-profile {
    margin-right: 150px;
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden; 
}
.profile-picture img{
    width: 150px;
    height: 150px;
    border-radius: 80%;
    object-fit: cover;
    border: 2px solid #2196f3;
}
.seeker-details {
    flex: 1;
    padding-left: 20px;
}

.card-title {
    color: #2196f3;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 5px;
}

.btn-primary {
    margin-top: 10px;
}

.btn-success {
    margin-top: 10px;
}
.job-more-details {
    margin-top: 10px;
}


</style>
{% endblock %}
